
::-webkit-scrollbar
{
    width: 0;
}

body
{
    background: #7efff5;
}

.profile_img img
{
    position: absolute;
	max-width: 250px;
	padding: 40px;
    border-radius: 50%;
    margin: -3.5cm 0 0 -2cm;
    z-index: 1;
}

.containerbx
{
	display: flex;
}

.username_posting
{
	font-weight: bold;
    font-size: 14px;
}

.tgl
{
	margin: 0 0 0 20px;
}

.formbx
{
    display: relative;
    margin: 0 0 0 5cm;
}

.username
{
    /* font-weight: bold; */
    font-size: 23px;
}

.username a
{
    width: 200px;
    color: cyan;
    border-radius: 20px;
}

.hide
{
    display: none;
}
