@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar
{
	width: 0;
}

html
{
	height:100%;
	background-image: url('../images/bg.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 6cm 0 0 0;
	justify-content: center;
}

.text
{
	color: white;
	font-weight: bold;
	padding: 10px 25px 10px 25px;
	border: 4px solid white;
	font-size: 20px;
}

.card-content
{
	background: white;
	margin: 10px 0 0 0;
	width: 11.6cm;
	height: 1.2cm;
	box-shadow: 25px 25px 30px rgba(0,0,0,0.05);
}

.card-content:hover
{
	background: cyan;
	transition: 0.4s ease-in;
}

.btn_join
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
	color: black;
	width: 11.6cm;
	height: 1.2cm;
}